# ---- Basic App Settings ---- #
APP_NAME = "ExamAI"
APP_DESCRIPTION = "ExamAI is an AI-powered educational platform for automated exam generation and evaluation. "
APP_VERSION = "0.1.0"
DEBUG = True
APP_ENV = "development"

# ---- Database Settings ---- #
POSTGRES_HOST = "localhost"
POSTGRES_USER = "postgres"
POSTGRES_PASSWORD = ""
POSTGRES_PORT = 5432
POSTGRES_DB_NAME = "exam_ai_db"

# ---- LLM & Embedding Settings ---- #
ALIBABA_API_KEY = "sk-xxxxxxxx"
ALIBABA_BASE_URL = "https://dashscope-intl.aliyuncs.com/compatible-mode/v1"

# ---- Security Settings ---- #
JWT_SECRET_KEY = ""
